html {
    --darkPurple: #251B34;
    --purple: #372B4A;
    --lightPurple: #584774;
    --brightPurple: #BC9AF4;
    --red: #FF5858;

    --background: var(--darkPurple);
    --boxBg: var(--purple);
    --border: var(--lightPurple);
    --text: #FFFFFF;
    --link: var(--brightPurple);
    --buttonBg: var(--red);
    --buttonText: #FFFFFF;
}

html,
body {
    overflow: hidden;
    background: transparent;
    user-select: none;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    background-color: var(--background);
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
}

a,
a:link,
a:hover,
a:active,
a:visited {
    color: var(--link);
}

button {
    display: inline-block;
    appearance: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    background: var(--border);
    color: var(--buttonText);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button.--primary {
    padding: 0.5rem 0.75rem;
    background: var(--buttonBg);
    color: var(--buttonText);
}

input[type='text'],
input[type='number'] {
    display: inline-block;
    appearance: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0 0 2px var(--border) inset;
    background: transparent;
    outline: none;
    color: var(--buttonText);
    font-weight: bold;
    cursor: pointer;
}

input[type='number'] {
    width: 4rem;
}

input[type='range'] {
    appearance: none;
    height: 1rem;
    overflow: hidden;
    border-radius: 2px;
    background-color: var(--background);
}

input[type='range']::-webkit-slider-runnable-track {
    appearance: none;
    height: 1rem;
    color: #13bba4;
    border-radius: 2px;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    cursor: ew-resize;
    background: var(--border);
    border-radius: 2px;
}

input[type='range']:hover::-webkit-slider-thumb {
    background: var(--link);
}

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}

input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}
